<html><head><title> - Revision 2679954: /translatepress-multilingual/trunk/partials</title></head>
<body>
 <h2> - Revision 2679954: /translatepress-multilingual/trunk/partials</h2>
 <ul>
  <li><a href="../">..</a></li>
  <li><a href="addons-settings-page.php">addons-settings-page.php</a></li>
  <li><a href="advanced-settings-page.php">advanced-settings-page.php</a></li>
  <li><a href="error-manager-page.php">error-manager-page.php</a></li>
  <li><a href="language-switcher-shortcode.php">language-switcher-shortcode.php</a></li>
  <li><a href="license-settings-page.php">license-settings-page.php</a></li>
  <li><a href="machine-translation-settings-page.php">machine-translation-settings-page.php</a></li>
  <li><a href="main-settings-language-selector.php">main-settings-language-selector.php</a></li>
  <li><a href="main-settings-page.php">main-settings-page.php</a></li>
  <li><a href="settings-navigation-tabs.php">settings-navigation-tabs.php</a></li>
  <li><a href="test-api-settings-page.php">test-api-settings-page.php</a></li>
  <li><a href="translation-manager.php">translation-manager.php</a></li>
  <li><a href="trp-remove-duplicate-rows.php">trp-remove-duplicate-rows.php</a></li>
  <li><a href="trp-update-database.php">trp-update-database.php</a></li>
 </ul>
 <hr noshade><em>Powered by <a href="http://subversion.apache.org/">Apache Subversion</a> version 1.9.5 (r1770682).</em>
</body></html>